{% extends 'base.html.twig' %}

{% block body %}

    {{ include('menu/top.html.twig') }}
    {{ include('headers/main_top.html.twig') }}
    <div class="container">
        {{ include('breadcrumbs/menu.html.twig') }}
    </div>
{% endblock %}