<div class="row">
    <div class="content_line"></div>
{#    <div class="clear_20"></div>#}
    <div class="col-12">
        {{ wo_render_breadcrumbs({separator: ' > ', listId: 'breadcrumbs'}) }}
    </div>
</div>